@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,400i,700');

*{
    font-family: 'Roboto Condensed', sans-serif;
}

.canvas-space{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.canvas-subtitle-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.canvas-subtitle-reference {
    width: 10px;
    height: 10px;
    display: block;
    float: left;
    margin-right: 5px;
    background: #ccc;
}

.canvas-subtitle-text{
    margin-bottom: 0;
}
#genero-eleitorado .canvas-subtitle-reference.mulheres,
#genero .canvas-subtitle-reference.mulheres{
    background-color: #E84855;
}

#genero-eleitorado .canvas-subtitle-reference.homens,
#genero .canvas-subtitle-reference.homens{
    background-color: #2B3A67;
}

#genero-eleitorado .canvas-subtitle-reference.nao-informado,
#genero .canvas-subtitle-reference.nao-informado{
    background-color: #222;
}

/*['#2B3A67', '#E84855']*/
.error-div{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

[data-graph].not-loaded .graph-container{
    display: none;
}

[data-graph].not-loaded .error-div{
    display: flex;
}


/* ["#D32F2F", "#F8BBD0", "#7B1FA2", "#512DA8", "#303F9F", "#1976D2", "#00796B"];*/
.med-incompleto{
    background-color: rgb(255, 82, 82);
}

.analfabeto{
    background-color: rgb(245, 164, 164);
}

.le-escreve{
background-color: rgb(189, 189, 189);
}
.fun-completo{
    background-color: rgb(33, 33, 33);
}

.fun-incompleto{
    background-color: rgb(117, 117, 117);
}

.sup-incompleto{
    background-color: rgb(244, 67, 54);
}
.sup-completo{
    background-color: rgb(211, 47, 47)
}

.med-completo{
    background-color: rgb(255, 205, 210);
}